# Logs
logs
*.log
npm-debug.log*

# Dependency directories
/package-lock.json
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Cucumber
*ucumber_output.json
/report_output/*